<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Deliverables</title>
    <link rel="stylesheet" th:href="@{../style.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}">
    </script>
    <script defer th:src="@{../static/js/users.js}"></script>
    <script defer th:src="@{../static/js/dropdown-menu.js}"></script>
    <script defer th:src="@{../static/js/reminder.js}"></script>
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="56">
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/home}">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/loadSensor}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/deliverables}">Deliverables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reminder}">Medication Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/PresentedBy}">Presented By</a>
                    </li>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><!--class="nav-item"-->
                            <a class="btn btn-outline-primary me-2" href="registration.html">Register</a>
                        </li>
                        <li class="nav-item"><!--class="nav-item"-->
                            <a class="btn btn-primary" th:href="@{/login}">Log In</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <h1 class="install">Documentation</h1>
    <div class="linksToDocu">
        <div class="tracer bullet">
            <p>Click here to find our documentation for the load sensor part of the project.</p><
            a href="https://drive.google.com/file/d/1m2PJ3GhdFDDy3o0kO-y37WXIelKSWS9s/view?usp=sharing">Tracer Bullet</a>
        </div>

        <div class = "infra">
            <p>Click here to find our documentation for the story board/user stories etc part of the project.</p>
            <a href="https://drive.google.com/file/d/1u37HpRSD10Gf6B-0Za9D57reM_2AXYzv/view?usp=sharing">Story board</a>
        </div>
        <div class = "java">
            <p>Click here to find our documentation for the Architecture part of the project.</p>
            <a href="https://drive.google.com/file/d/10MxR56i2aGe6UKAi0UvbpD3ds2Pg2Moc/view?usp=sharing">Architecture</a>
        </div>
        <div class = "gamestat">
            <p>Click here to find our documentation for the Domain Model part of the project.</p>
            <a href="https://drive.google.com/file/d/112Bb781niDLyFYWvVc_H040_9P0Yhp-L/view?usp=sharing">Domain model</a>
        </div>
        <div class = "data model">
            <p>Click here to find our documentation for the Data Model part of the project.</p>
            <a href="https://drive.google.com/file/d/1qljqHNxRxlUFSnFwfAMnGssn1vehF6NN/view?usp=sharing">Data Model</a>
        </div>
    </div>
    <div id="footer">
        <footer> PillGate &#169; 2023 All rights reserved</footer>
    </div>
</main>
</body>
</html>