<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <title>Login Error</title>
    <!-- Add your stylesheets or any other necessary resources here -->
</head>
<body>

<div style="text-align: center; padding: 50px;">
    <h2>Login Error</h2>
    <p class="error-line">It looks like there was an issue with your login. Please check your username and password and try again.</p>
    <!-- You can add more information or links here as needed -->
    <form id="login-form" th:action="@{/login}" method="post" th:object="${customerDTO}">
        <button type="submit" class="btn btn-primary" id="login-btn">Login again</button>
    </form>
</div>

</body>
</html>
