<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script defer th:src="@{/static/js/users.js}"></script>
    <script defer th:src="@{/static/js/dropdown-menu.js}"></script>
    <script defer th:src="@{/static/js/reminder.js}"></script>
    <script defer th:src="@{/static/js/login.js}"></script>
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="56">
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/home}">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/loadSensor}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reminder}">Medication Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/PresentedBy}">Presented By</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto"> <!-- Use ms-auto here -->
                    <li class="nav-item">
                        <a class="btn btn-outline-primary me-2" th:href="@{/registration}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div id="register-login-main">
        <h1 id="login-register-header">Login</h1>
        <p id="register-link">Not registered yet? <a href="/registration" class="link-text">Register here</a></p>

        <!-- Display logout button when the user is logged in -->
        <div th:if="${session.isLoggedIn}">
            <form th:action="@{/logout}">
                <input type="submit" value="Logout" id="logout-btn">
            </form>
        </div>

        <!-- Display login form when the user is not logged in -->
        <div th:unless="${session.isLoggedIn}">
            <form id="login-form" th:action="@{/login}" method="post" th:object="${customerDTO}">
                <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger" role="alert">
                    <span>The form contained errors! </span>
                </div>

                <label for="email-field"></label>
                <input type="text" th:field="*{email}" id="email-field" class="login-form-field" placeholder="Email" required>
                <div th:if="${#fields.hasErrors('email')}" class="alert alert-danger" role="alert">
                    <span th:errors="*{email}"></span>
                </div>

                <label for="password-field"></label>
                <input type="password" th:field="*{password}" id="password-field" class="login-form-field" placeholder="Password" required>
                <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger" role="alert">
                    <span th:errors="*{password}"></span>
                </div>

                <button type="submit" class="btn btn-primary" id="login-btn">Login</button>
            </form>

            <!-- Display warning message -->
            <div th:if="${warning}" class="alert alert-danger" role="alert">
                <p th:text="${warning}"></p>
            </div>
        </div>
    </div>
</main>
    <footer> PillGate &#169; 2023 All rights reserved</footer>

</body>
</html>
