<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{../style.css}">
    <meta charset="UTF-8">
    <title>Presented by</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/home}">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/loadSensor}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/deliverables}">Deliverables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reminder}">Medication Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/PresentedBy}">Presented By</a>
                    </li>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><!--class="nav-item"-->
                            <a class="btn btn-outline-primary me-2" href="registration.html">Register</a>
                        </li>
                        <li class="nav-item"><!--class="nav-item"-->
                            <a class="btn btn-primary" th:href="@{/login}">Log In</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <section id="presentedBy">
        <h1>Presented by Team PillGate</h1>
        <p>The pill Gate Team</p>
        <div class="teamMember">
            <img src="../images/logo.png" alt="Emran">
            <h3> Emran </h3>
            <h4>Game Developer</h4>
            <p>Responsible for game design and implementation.</p>
        </div>
        <div class="teamMember">
            <img src="../images/logo.png" alt="William">
            <h3>William</h3>
            <h4>Infrastructure Specialist</h4>
            <p>Focuses on the technical and infrastructural aspects.</p>
        </div>
        <div class="teamMember">
            <img src="../images/logo.png" alt="Alperen">
            <h3>Alperen</h3>
            <h4>Web Developer</h4>
            <p>Develops and maintains the project website.</p>
        </div>
        <div class="teamMember">
            <img src="../images/logo.png" alt="Manami">
            <h3>Manami</h3>
            <h4>Database Specialist</h4>
            <p>Handles database management and data analysis.</p>
        </div>
        <div class="teamMember">
            <img src="../images/logo.png" alt="Narjiss">
            <h3>Narjiss</h3>
            <h4>Database Specialist</h4>
            <p>Handles database management and data analysis.</p>
        </div>
    </section>
</main>
<section>
    <h2>Work Products</h2>
    <div class="container">
        <div class="table" id="work_done">
            <div class="table-header">
                <div class="header__item"><a id="name" class="filter__link" >Name</a></div>
                <div class="header__item"><a id="work" class="filter__link">Work</a></div>
                <div class="header__item"><a id="links" class="filter__link">GitLab Links</a></div>
            </div>
            <div class="table-row">
                <div class="table-data">Emran</div>
                <div class="table-data">login html form and game statistics</div>
                <div class="table-data"><a href="https://gitlab.com/kdg-ti/integration-1.2/2022-2023/s2-05/S2-05/-/boards/5353083" target="_blank">GitLab Link</a></div>
            </div>
            <div class="table-row">
                <div class="table-data">Emran</div>
                <div class="table-data">login html form and game statistics</div>
                <div class="table-data"><a href="https://gitlab.com/kdg-ti/integration-1.2/2022-2023/s2-05/S2-05/-/boards/5353083" target="_blank">GitLab Link</a></div>
            </div>
            <div class="table-row">
                <div class="table-data">Emran</div>
                <div class="table-data">login html form and game statistics</div>
                <div class="table-data"><a href="https://gitlab.com/kdg-ti/integration-1.2/2022-2023/s2-05/S2-05/-/boards/5353083" target="_blank">GitLab Link</a></div>
            </div>
            <div class="table-row">
                <div class="table-data">Emran</div>
                <div class="table-data">login html form and game statistics</div>
                <div class="table-data"><a href="https://gitlab.com/kdg-ti/integration-1.2/2022-2023/s2-05/S2-05/-/boards/5353083" target="_blank">GitLab Link</a></div>
            </div>
        </div>
    </div>
</section>
<footer>
    <p>© 2023 PillGate. All rights reserved.</p>
</footer>
</body>
</html>