<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{/static/style.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script src="../js/dropdown-menu.js" type="module"></script>
    <title>Register</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="home.html">Homepage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="dashboard.html">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login.html">Our products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="registration.html">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"></a>
                        </li>

                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><!--class="nav-item"-->
                                <a class="btn btn-outline-primary me-2" href="registration.html">Register</a>
                            </li>
                            <li class="nav-item"><!--class="nav-item"-->
                                <a class="btn btn-primary" href="login.html">Log In</a>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main id="register-login-main">
        <div id="main">
            <h1>Registration</h1>
            <form id="registration-form" th:object="${customerDTO}" th:action="@{/register}" method="post">
                <input type="text" th:field="*{username}" placeholder="Username"  class="register-form-field" required>
                <input type="password" th:field="*{password}" placeholder="Password" class="register-form-field" required>
                <input type="email" th:field="*{email}" placeholder="example@email.com" class="register-form-field" required>
                <input type="submit" value="Register" id="register-btn">
            </form>
        </div>
    </main>

</body>
<footer> PillGate &#169; 2023 All rights reserved</footer>
</html>