
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Medication Schedule</title>

    <link rel="stylesheet" th:href="@{../style.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}">
    </script>
    <script defer th:src="@{../static/js/users.js}"></script>
    <script defer th:src="@{../static/js/dropdown-menu.js}"></script>
    <script defer th:src="@{../static/js/reminder.js}"></script>
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="56">
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/home}">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/loadSensor}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/deliverables}">Deliverables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reminder}">Medication Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/PresentedBy}">Presented By</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><!--class="nav-item"-->
                            <a class="btn btn-outline-primary me-2" href="registration.html">Register</a>
                        </li>
                        <li class="nav-item"><!--class="nav-item"-->
                            <a class="btn btn-primary" th:href="@{/login}">Log In</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
</header>
    <h1>Your Medication Schedule was successfully stored!</h1>

</body>

</html>