<!--&lt;!&ndash; src/main/resources/templates/viewCSV.html &ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>CSV Viewer</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>CSV Data</h2>-->
<!--<table border="1">-->
<!--    <tr th:each="line : ${csvData}">-->
<!--        <td th:each="cell : ${#strings.arraySplit(line, ',')}">-->
<!--            <span th:text="${cell}"></span>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->
